.App {
  text-align: center;
}


.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.Auth-route {
  text-align: center;
}

ul {
	height: 150px;
	padding-inline-start: 0px;
}

ul > li {
	list-style-type: none;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 60%;
}

#content-chat{
  height: 550px;
  overflow-y: scroll;
}

#nickname{
  width: 12em;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}